<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<div class="row align-items-center page-header">
    <div class="col-md-12">

        <app-breadcrumb></app-breadcrumb>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <app-card [hidHeader]="true" blockClass="p-30">

            <h2 class="text-center">Recursos provenientes del programa Jovenes en Acción (JeA)</h2>
            <div class="row ">
                <img src="assets/images/icon/jea.jpg" class="mx-auto d-block" alt="" title="" height="55">
                <img src="assets/images/icon/hjea.jpg" class="mx-auto d-block" alt="" title="" height="55">
                <img src="assets/images/icon/props.PNG" class="mx-auto d-block" alt="" title="" height="55">
            </div>
        </app-card>
    </div>
</div>

<div class="row">
    <div class="col-lg-3 col-md-6">
        <app-card [hidHeader]="true" blockClass="p-30">
            <div class="d-flex pt-3 pb-2 no-block">
                <div class="align-self-center mr-4 ml-4"><img src="assets/images/icon/boy.png" alt="" title="" width="50"></div>
                <div class="align-slef-center mr-auto">
                    <h3 class="m-b-2 text-uppercase font-30 font-medium lp-5 text-danger">1819</h3>
                    <h6 class="text-muted m-b-0">Total hombres</h6>
                </div>
            </div>
        </app-card>
    </div>

    <div class="col-lg-3 col-md-6">
        <app-card [hidHeader]="true" blockClass="p-30">
            <div class="d-flex pt-3 pb-2 no-block">
                <div class="align-self-center mr-4 ml-4"><img src="assets/images/icon/avatar.png" alt="" title="" width="50"></div>
                <div class="align-slef-center mr-auto">
                    <h3 class="m-b-2 text-uppercase font-30 font-medium lp-5 text-warning">1291</h3>
                    <h6 class="text-muted m-b-0 ">Total mujeres</h6>
                </div>
            </div>
        </app-card>
    </div>
    <div class="col-lg-3 col-md-6">
        <app-card [hidHeader]="true" blockClass="p-30">
            <div class="d-flex pt-3 pb-2 no-block">
                <div class="align-self-center mr-4 ml-4"><img src="assets/images/icon/inventory.png" alt="" title="" width="50"></div>
                <div class="align-slef-center mr-auto">
                    <h3 class="m-b-2 text-uppercase font-30 font-medium lp-5 text-primary">3110</h3>
                    <h6 class="text-muted m-b-0">Total Apoyos</h6>
                </div>
            </div>
        </app-card>
    </div>



    <div class="col-lg-3 col-md-6">
        <app-card [hidHeader]="true" blockClass="p-30">
            <div class="d-flex pt-3 pb-2 no-block">
                <div class="align-self-center mr-1 ml-2"><img src="assets/images/icon/money.png" alt="" title="" width="40"></div>
                <div class="align-slef-center mr-auto">
                    <h3 class="m-b-2 text-uppercase font-30 font-medium lp-5 text-warning">$1,107,160,000</h3>
                    <h6 class="text-muted m-b-0">Total dinero gastado</h6>
                </div>
            </div>
        </app-card>
    </div>
</div>




<div class="col-lg-13" id="chart">
    <app-card cardTitle="Transferencias entregadas por facultades" [options]="false">
        <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [dataLabels]="chartOptions.dataLabels" [plotOptions]="chartOptions.plotOptions" [yaxis]="chartOptions.yaxis" [xaxis]="chartOptions.xaxis" [legend]="chartOptions.legend" [colors]="chartOptions.colors"></apx-chart>
    </app-card>
</div>

<div class="row">
    <div class="col-lg-8 col-md-6">
        <figure class="highcharts-figure">
            <div id="chx"></div>

        </figure>

    </div>
    <div class="col-lg-4 col-md-6">
        <app-card [hidHeader]="true">
            <div class="d-flex m-b-6 no-block">
                <h5 class="card-title m-b-0 align-self-center">Estudiantes beneficiarios por pbm</h5>
                <div class="ml-auto text-light-blue">
                </div>
            </div>
            <ul class="list-inline m-b-30 text-uppercase lp-5 font-medium font-12">
                <li><i class="fa fa-square m-r-5 " id="ND"></i> 1-10 </li>
                <li><i class="fa fa-square m-r-5 " id="ND2"></i> 11-20 </li>
                <li><i class="fa fa-square m-r-5 " id="ND3"></i> 21-30</li>
                <li><i class="fa fa-square m-r-5 " id="ND4"></i> 31-40</li>
                <li><i class="fa fa-square m-r-5 " id="ND5"></i> 41-50</li>
                <li><i class="fa fa-square m-r-5 " id="ND6"></i> 51+</li>
            </ul>
            <app-apex-chart chartID="visitor-gender-dash-analytics" [chartConfig]="this.visitorGenderDashAnalytics"></app-apex-chart>
        </app-card>
    </div>
</div>