<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<div class="row align-items-center page-header">
    <div class="col-md-12">
        <app-breadcrumb></app-breadcrumb>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <app-card [hidHeader]="true" blockClass="p-30">

            <h4 class="text-center">Apoyo de transporte</h4>

        </app-card>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 col-md-6">
        <app-card [hidHeader]="true" blockClass="p-30">
            <div class="d-flex pt-3 pb-2 no-block">
                <div class="align-self-center mr-5 ml-4"><img src="assets/images/icon/team.png" alt="" title="" width="50"></div>
                <div class="align-slef-center mr-auto">
                    <h3 class="m-b-2 text-uppercase font-30 font-medium lp-5 text-danger">982</h3>
                    <h6 class="text-muted m-b-0">Total estudiantes</h6>
                </div>
            </div>
        </app-card>
    </div>
    <div class="col-lg-4 col-md-6">
        <app-card [hidHeader]="true" blockClass="p-30">
            <div class="d-flex pt-3 pb-2 no-block">
                <div class="align-self-center mr-5 ml-4"><img src="assets/images/icon/money.png" alt="" title="" width="50"></div>
                <div class="align-slef-center mr-auto">
                    <h3 class="m-b-2 text-uppercase font-30 font-medium lp-5 text-primary">$28.570.000</h3>
                    <h6 class="text-muted m-b-0">Total dinero gastado 2020-2</h6>
                </div>
            </div>
        </app-card>
    </div>



    <div class="col-lg-4 col-md-6">
        <app-card [hidHeader]="true" blockClass="p-30">
            <div class="d-flex pt-3 pb-2 no-block">
                <div class="align-self-center mr-5 ml-4"><img src="assets/images/icon/money.png" alt="" title="" width="50"></div>
                <div class="align-slef-center mr-auto">
                    <h3 class="m-b-2 text-uppercase font-30 font-medium lp-5 text-warning">$207.885.000</h3>
                    <h6 class="text-muted m-b-0">Total dinero gastado 2021-1</h6>
                </div>
            </div>
        </app-card>
    </div>
</div>


<div class="row">
    <div class="col-xl-12">
        <app-card [hidHeader]="true" cardClass="o-income">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="d-flex panel-main m-b-10 no-block  panel-refresh">
                        <h5 class="card-title m-b-0 align-self-center">Apoyo transporte 2020-2</h5>

                    </div>
                    <app-apex-chart chartID="memory-use-dah-server" [chartConfig]="this.memoryUseDashServer"></app-apex-chart>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="d-flex panel-main m-b-10 no-block  panel-refresh">
                        <h5 class="card-title m-b-0 align-self-center">Apoyo transporte 2020-2</h5>

                    </div>
                    <app-apex-chart chartID="memory-use-dah-server2" [chartConfig]="this.memoryUseDashServer2"></app-apex-chart>
                </div>
            </div>
        </app-card>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-xl-12">
        <app-card [hidHeader]="true" cardClass="o-income">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="d-flex panel-main m-b-10 no-block  panel-refresh">
                        <h5 class="card-title m-b-0 align-self-center">Apoyo transporte 2020-2</h5>

                    </div>
                    <app-apex-chart chartID="memory-use-dah-server4" [chartConfig]="this.memoryUseDashServer4"></app-apex-chart>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="d-flex panel-main m-b-10 no-block  panel-refresh">
                        <h5 class="card-title m-b-0 align-self-center">Apoyo transporte 2021-1</h5>

                    </div>
                    <app-apex-chart chartID="memory-use-dah-server3" [chartConfig]="this.memoryUseDashServer3"></app-apex-chart>
                </div>
            </div>
        </app-card>
    </div>
</div>