<div class="row align-items-center page-header">
  <div class="col-md-12">
    <app-breadcrumb></app-breadcrumb>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-xl-4">
    <app-card cardTitle="Power" headerClass="p-t-20" cardClass="card-power" [options]="false">
      <h2>2789</h2><span class="text-muted">kw</span>
      <app-apex-chart chartID="power-widget-chart-1" [chartConfig]="this.powerCardChart1"></app-apex-chart>
      <div class="row">
        <div class="col-4">
          <div class="map-area">
            <h6 class="m-0">2876</h6>
            <span>kw</span>
            <p class="text-muted m-0">month</p>
          </div>
        </div>
        <div class="col-4">
          <div class="map-area">
            <h6 class="m-0">234</h6>
            <span>kw</span>
            <p class="text-muted m-0">Today</p>
          </div>
        </div>
      </div>
    </app-card>
  </div>
  <div class="col-md-6 col-xl-4">
    <app-card cardTitle="Water" headerClass="p-t-20" cardClass="card-power" [options]="false">
      <h2>7.3</h2><span class="text-muted">m3</span>
      <app-apex-chart chartID="power-widget-chart-2" [chartConfig]="this.powerCardChart2"></app-apex-chart>
      <div class="row">
        <div class="col-4">
          <div class="map-area">
            <h6 class="m-0">4.5</h6>
            <span>m3</span>
            <p class="text-muted m-0">month</p>
          </div>
        </div>
        <div class="col-4">
          <div class="map-area">
            <h6 class="m-0">0.5</h6>
            <span>m3</span>
            <p class="text-muted m-0">Today</p>
          </div>
        </div>
      </div>
    </app-card>
  </div>
  <div class="col-md-6 col-xl-4">
    <app-card cardTitle="Temperature" headerClass="p-t-20" cardClass="card-power" [options]="false">
      <h2>834</h2><span class="text-muted">mpg</span>
      <app-apex-chart chartID="power-widget-chart-3" [chartConfig]="this.powerCardChart3"></app-apex-chart>
      <div class="row">
        <div class="col-4">
          <div class="map-area">
            <h6 class="m-0">15.6</h6>
            <span>mpg</span>
            <p class="text-muted m-0">month</p>
          </div>
        </div>
        <div class="col-4">
          <div class="map-area">
            <h6 class="m-0">234</h6>
            <span>kw</span>
            <p class="text-muted m-0">Today</p>
          </div>
        </div>
      </div>
    </app-card>
  </div>

  <div class="col-md-12 col-xl-8">
    <app-card cardTitle="Serve" cardClass="serve-card">
      <div class="serve-text d-inline-block p-b-10">
        <h2 class="d-inline-block m-r-15 f-w-600">839</h2>
        <i class="fas fa-caret-down text-c-green f-20"></i>
      </div>
      <div class="serve-text float-right">
        <h4 class="d-inline-block m-r-15 f-18 text-muted">Week</h4>
        <i class="fas fa-caret-down text-c-green f-20"></i>
      </div>
      <h6 class="text-muted">Responded <span class="text-c-green">+40 </span>this week</h6>
      <div class="row serve-chart-list">
        <div class="col-sm-4">
          <h6 class="p-b-10">Peak Zone</h6>
          <h6>Average Zone</h6>
        </div>
        <div class="col-sm-8">
          <app-apex-chart chartID="serve-widget-chart" [chartConfig]="this.serveWidgetChart"></app-apex-chart>
        </div>
      </div>
    </app-card>
  </div>
  <div class="col-md-12 col-xl-4">
    <app-card cardTitle="Invites goal" cardClass="invite-card" blockClass="text-center">
      <div class="invite-card-chart">
        <app-apex-chart chartID="solid-gauge-widget-chart" [chartConfig]="this.solidGaugeWidgetChart"></app-apex-chart>
        <div class="invite-card-cont">
          <i class="fas fa-paper-plane text-c-green"></i>
          <span class="f-50">391</span>
          <hr>
        </div>
      </div>
      <h6 class="f-w-600">You are on track!</h6>
      <p class="text-muted m-b-0">You are close to your 528 invites goal</p>
    </app-card>
  </div>

  <div class="col-md-12 col-xl-6">
    <app-card cardTitle="Revenue status" cardClass="status-revenue-card">
      <div class="row ">
        <div class="col-sm-6 b-r-default ">
          <div class="row status-rev-chart">
            <div class="col-sm-6 m-b-40">
              <app-apex-chart chartID="revenue-daily-widget-chart" [chartConfig]="this.revenueDailyWidgetChart"></app-apex-chart>
            </div>
            <div class="col-sm-6 text-right">
              <i class="fas fa-caret-up text-muted f-16 "></i>
              <p class="text-muted f-16 d-inline-block f-w-400 m-l-10 m-b-0 ">+1.6%</p>
            </div>
          </div>
          <h2>$27,674</h2>
          <p class="text-muted m-b-0 f-w-400 ">Revenue daily</p>
        </div>
        <div class="col-sm-6 ">
          <div class="row status-rev-chart">
            <div class="col-sm-6 m-b-30">
              <app-apex-chart chartID="revenue-monthly-widget-chart" [chartConfig]="this.revenueMonthlyWidgetChart"></app-apex-chart>
            </div>
            <div class="col-sm-6 text-right">
              <i class="fas fa-caret-down text-muted f-16 "></i>
              <p class="text-muted f-16 d-inline-block f-w-400 m-l-10 m-b-0 ">- 0.9%</p>
            </div>
          </div>
          <h2>17,563</h2>
          <p class="text-muted m-b-0 f-w-400 ">Revenue weekly</p>
        </div>
      </div>
    </app-card>
  </div>
  <div class="col-md-6 col-xl-3">
    <app-card cardTitle="Page views" blockClass="text-center">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <app-apex-chart chartID="new-users-widget-chart" [chartConfig]="this.newUsersWidgetChart"></app-apex-chart>
        </div>
        <div class="col-md-12">
          <div class="text-center">
            <h4 class="f-w-400 f-20 m-t-10 ">4,567 Daily</h4>
          </div>
        </div>
      </div>
    </app-card>
  </div>
  <div class="col-md-6 col-xl-3">
    <app-card cardTitle="New users" blockClass="text-center">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <app-apex-chart chartID="page-views-widget-chart" [chartConfig]="this.pageViewsWidgetChart"></app-apex-chart>
        </div>
        <div class="col-md-12">
          <div class="text-center">
            <h4 class="f-w-400 f-20 m-t-10">3,562 Today</h4>
          </div>
        </div>
      </div>
    </app-card>
  </div>

  <div class="col-md-6 col-xl-4">
    <app-card cardTitle="Tax deduction" cardClass="revenue-map">
      <div class="row">
        <div class="col-sm-8">
          <h2>$567</h2>
          <span class="text-muted f-18 d-block">January 2017</span>
          <p class="text-muted m-b-0 p-t-40">Total tax deduction</p>
          <span class="m-l-5 f-w-400">$23,567</span>
        </div>
        <div class="col-sm-4">
          <app-apex-chart chartID="tex-deduction-widget-chart" [chartConfig]="this.texDeductionWidgetChart"></app-apex-chart>
        </div>
      </div>
    </app-card>
  </div>
  <div class="col-md-6 col-xl-4">
    <app-card cardTitle="Order" cardClass="revenue-map">
      <div class="row">
        <div class="col-sm-6">
          <h2>456</h2>
          <span class="text-muted f-18 d-block">January 2017</span>
          <p class="text-muted m-b-0 p-t-40">Total order</p><span class="m-l-5 f-w-400">2,567</span>
        </div>
        <div class="col-sm-6 text-center m-t-10">
          <app-apex-chart chartID="order-widget-chart" [chartConfig]="this.orderWidgetChart"></app-apex-chart>
        </div>
      </div>
    </app-card>
  </div>
  <div class="col-md-6 col-xl-4">
    <app-card cardTitle="Revenue generate" cardClass="revenue-map">
      <div class="row">
        <div class="col-sm-8">
          <h2>$756</h2>
          <span class="text-muted f-18 d-block">January 2017</span>
          <p class="text-muted m-b-0 p-t-40">Last weeks revenue</p>
          <span class="m-l-5 f-w-400">$56,678</span>
        </div>
        <div class="col-sm-4">
          <app-apex-chart chartID="revenue-generate-widget-chart" [chartConfig]="this.revenueGenerateWidgetChart"></app-apex-chart>
        </div>
      </div>
    </app-card>
  </div>
</div>
