
<div class="row align-items-center page-header">
    <div class="col-md-6">
        <app-breadcrumb></app-breadcrumb>
    </div>
    <div class="col-md-6 text-right">
        <button type="button" class="btn btn-primary m-r-5"><i class="feather icon-plus"></i> Filtedddr</button>
        <button type="button" class="btn btn-outline-primary"><i class="feather icon-rotate-cw"></i> Reload</button>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <app-card [hidHeader]="true" blockClass="p-30">

            <h4 class="text-center">Apoyos económicos - Alianzas estratégicas 2021-2S</h4>

        </app-card>
    </div>
</div>
<div class="row">
    
    <div class="col-lg-6 col-md-6">
        <app-card [hidHeader]="true" blockClass="p-30">
            <div class="d-flex pt-3 pb-2 no-block">
                <div class="align-self-center mr-5 ml-4"><img src="assets/images/icon/inventory.png" alt="" title="" width="50"></div>
                <div class="align-slef-center mr-auto">
                    <h3 class="m-b-2 text-uppercase font-30 font-medium lp-5 text-warning">216</h3>
                    <h6 class="text-muted m-b-0">Total de apoyos entregados 2021-2S</h6>
                </div>
            </div>
        </app-card>
    </div>
    <div class="col-lg-6 col-md-6">
        <app-card [hidHeader]="true" blockClass="p-30">
            <div class="d-flex pt-3 pb-2 no-block">
                <div class="align-self-center mr-3 ml-2"><img src="assets/images/icon/money.png" alt="" title="" width="40"></div>
                <div class="align-slef-center mr-auto">
                    <h3 class="m-b-2 text-uppercase font-30 font-medium lp-5 text-warning"> $345.881.635</h3>
                    <h6 class="text-muted m-b-0">Total dinero gastado en apoyos 2021-2S</h6>
                </div>
            </div>
        </app-card>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <app-card [hidHeader]="true" cardClass="o-income">
            <div class="row">
                <div class="col-lg-7 col-md-12">
                    <div class="d-flex panel-main m-b-10 no-block  panel-refresh">
                        <h5 class="card-title m-b-0 align-self-center">Total apoyos económicos - Alianzas estratégicas 2021-2S</h5>

                    </div>
                    <app-apex-chart chartID="memory-use-dah-server" [chartConfig]="this.memoryUseDashServer"></app-apex-chart>
                </div>
                <div class="col-lg-5 col-md-12">
                    <div class="panel-main pl-3 m-b-10 no-block  panel-refresh bordered-left-light bordered-css">
                        <h4 class="card-title m-b-0 align-self-center">Gob. GUAINÍA</h4>
                        <div class="block m-t-10 m-b-40">
                            <div class="cpu-div-left"> <span class="block f-17 text-danger">$857.000</span> Valor del apoyo </div>
                            <div class="cpu-div-right pl-4"> <span class="block f-17 text-primary">26</span> Numero de apoyos </div>
                            <div class="clearfix"></div>
                        </div>
                        <hr>
                        <h4 class="card-title m-t-30 m-b-0 align-self-center">Gob. AMAZONÍA</h4>
                        <div class="block m-t-10 m-b-40">
                            <div class="cpu-div-left"> <span class="block f-17 text-danger">$900.000</span> Valor del apoyo </div>
                            <div class="cpu-div-right pl-4"> <span class="block f-17 text-primary">34</span> Numero de apoyos </div>
                            <div class="clearfix"></div>
                        </div>
                        <hr>
                        <h4 class="card-title m-t-30  m-b-0 align-self-center">Jaime Benítez Tobón</h4>
                        <div class="block m-t-10 m-b-30">
                            <div class="cpu-div-left"> <span class="block f-17 text-danger">$3.179.841</span> Valor del apoyo </div>
                            <div class="cpu-div-right pl-4"> <span class="block f-17 text-primary">7</span> Numero de apoyos </div>
                            <div class="clearfix"></div>
                        </div>
                        <hr>
                        <h4 class="card-title m-t-30  m-b-0 align-self-center text-uppercase ">Fundación Ventanas</h4>

                        <div class="block m-t-10 m-b-30">
                            <div class="cpu-div-left"> <span class="block f-17 text-danger">$1.817.052</span> Valor del apoyo </div>
                            <div class="cpu-div-right pl-4"> <span class="block f-17 text-primary">8</span> Numero de apoyos </div>
                            <div class="clearfix"></div>

                        </div>
                        <hr>
                        <h4 class="card-title m-t-30  m-b-0 align-self-center text-uppercase ">Fundación Ventanas</h4>

                        <div class="block m-t-10 m-b-30">
                            <div class="cpu-div-left"> <span class="block f-17 text-danger">$1.817.052</span> Valor del apoyo </div>
                            <div class="cpu-div-right pl-4"> <span class="block f-17 text-primary">141</span> Numero de apoyos </div>
                            <div class="clearfix"></div>

                        </div>

                    </div>
                </div>
            </div>
        </app-card>
    </div>
</div>

<hr>
<div class="row">
    <div class="col-lg-12">
        <app-card [hidHeader]="true" blockClass="p-30">

            <h4 class="text-center">Apoyos económicos - Alianzas estratégicas 2021-1S</h4>

        </app-card>
    </div>
</div>
<div class="row">
    
    <div class="col-lg-6 col-md-6">
        <app-card [hidHeader]="true" blockClass="p-30">
            <div class="d-flex pt-3 pb-2 no-block">
                <div class="align-self-center mr-5 ml-4"><img src="assets/images/icon/inventory.png" alt="" title="" width="50"></div>
                <div class="align-slef-center mr-auto">
                    <h3 class="m-b-2 text-uppercase font-30 font-medium lp-5 text-warning">78</h3>
                    <h6 class="text-muted m-b-0">Total de apoyos entregados 2021-1S</h6>
                </div>
            </div>
        </app-card>
    </div>
    <div class="col-lg-6 col-md-6">
        <app-card [hidHeader]="true" blockClass="p-30">
            <div class="d-flex pt-3 pb-2 no-block">
                <div class="align-self-center mr-3 ml-2"><img src="assets/images/icon/money.png" alt="" title="" width="40"></div>
                <div class="align-slef-center mr-auto">
                    <h3 class="m-b-2 text-uppercase font-30 font-medium lp-5 text-warning"> $151.269.579</h3>
                    <h6 class="text-muted m-b-0">Total dinero gastado en apoyos 2021-1S</h6>
                </div>
            </div>
        </app-card>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <app-card [hidHeader]="true" cardClass="o-income">
            <div class="row">
                <div class="col-lg-7 col-md-12">
                    <div class="d-flex panel-main m-b-10 no-block  panel-refresh">
                        <h5 class="card-title m-b-0 align-self-center">Total apoyos económicos - Alianzas estratégicas 2021-1S</h5>

                    </div>
                    <app-apex-chart chartID="memory-use-dah-server1" [chartConfig]="this.memoryUseDashServer1"></app-apex-chart>
                </div>
                <div class="col-lg-5 col-md-12">
                    <div class="panel-main pl-3 m-b-10 no-block  panel-refresh bordered-left-light bordered-css">
                        <h4 class="card-title m-b-0 align-self-center">UAESP</h4>
                        <div class="block m-t-10 m-b-40">
                            <div class="cpu-div-left"> <span class="block f-20 text-danger">$1.817.052</span> Valor del apoyo </div>
                            <div class="cpu-div-right pl-4"> <span class="block f-20 text-primary">63</span> Numero de apoyos </div>
                            <div class="clearfix"></div>
                        </div>
                        <hr>
                        <h4 class="card-title m-t-30 m-b-0 align-self-center">Jaime Benítez Tobón</h4>
                        <div class="block m-t-10 m-b-40">
                            <div class="cpu-div-left"> <span class="block f-20 text-danger">$3.179.841</span> Valor del apoyo </div>
                            <div class="cpu-div-right pl-4"> <span class="block f-20 text-primary">7</span> Numero de apoyos </div>
                            <div class="clearfix"></div>
                        </div>
                        <hr>
                        <h4 class="card-title m-t-30  m-b-0 align-self-center">Fundación Ventanas</h4>
                        <div class="block m-t-10 m-b-30">
                            <div class="cpu-div-left"> <span class="block f-20 text-danger">$1.817.052</span> Valor del apoyo </div>
                            <div class="cpu-div-right pl-4"> <span class="block f-20 text-primary">8</span> Numero de apoyos </div>
                            <div class="clearfix"></div>
                        </div>


                    </div>
                </div>
            </div>
        </app-card>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-lg-12">
        <app-card [hidHeader]="true" blockClass="p-30">

            <h4 class="text-center">Apoyos económicos - Alianzas estratégicas 2020-1S Y 2020-2S</h4>
            <p><em>Se gestionó la recepción, legalización, certificación y el traslado de los recursos procedentes de excedentes financieros de cooperativas <b>vigencia 2018 y 2019 a la Dirección Académica.</b>	</em></p>
            </app-card>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <app-card [hidHeader]="true">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="d-flex m-b-10 no-block">
                        <h5 class="card-title m-b-0 align-self-center text-uppercase">Total trasladado en el año 2020: $659.318.346	</h5>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 text-right">
                    <ul class="list-inline m-b-30 text-uppercase lp-5 font-medium font-12">

                        <li><i class="flaticon-calendar text-primary f-16"></i></li>
                    </ul>
                </div>
            </div>
            <app-apex-chart chartID="task-dah-statistics" [chartConfig]="this.taskDashStatistics"></app-apex-chart>
        </app-card>
    </div>
</div>