<ul class="navbar-nav mr-auto">
  <li class="nav-item">
    <app-nav-search></app-nav-search>
  </li>
  <li class="nav-item">
    <div ngbDropdown>
      <a class="h-drop" href="javascript:" ngbDropdownToggle>
        Dropdown
      </a>
      <div class="profile-notification" ngbDropdownMenu>
        <ul class="pro-body">
          <li><a href="javascript:" class="dropdown-item"><i class="fas fa-circle"></i> Profile</a></li>
          <li><a href="javascript:" class="dropdown-item"><i class="fas fa-circle"></i> My Messages</a></li>
          <li><a href="javascript:" class="dropdown-item"><i class="fas fa-circle"></i> Lock Screen</a></li>
        </ul>
      </div>
    </div>
  </li>
</ul>
